POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ID_ENCRYPTION_KEY=
GEMINI_API_KEY=
NEXT_PUBLIC_GA_ID=
GOOGLE_SITE_VERIFICATION=
SITE_URL=
